@import url('reset.css');
@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YClover-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* HEADER */
header {
  width: 100%;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  /* 교차축 정렬 */
  align-items: center;
  padding: 5vh 5vw;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

header h1 a {
  /* 글자 크기 24px, 글자 높이 50px */
  font: bold 24px/50px 'YClover-Bold';
  color: #6f4f1a;
}

header .btn_menu {
  font-size: 24px;
  color: #6f4f1a;
  display: none;
}

header #gnb {
  display: flex;
}

header #gnb li {
  margin: 0 25px;
}

header #gnb li a {
  font: bold 16px/1 'YClover-Bold';
  color: #6f4f1a;
}

header #sns {
  display: flex;
  gap: 20px;
}

header #sns li a {
  font-size: 16px;
  color: #6f4f1a;
}

/* 배경 비디오 */
/* 화면에 가득 차도록 */
figure {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure .text {
  position: absolute;
  left: 6vw;
  top: 50%;
  transform: translate(0, -60%);
}

figure .text p {
  font: normal 5vw/1 'YClover-Bold';
  color: #6f4f1a;
}

figure .text ul {
  margin-top: 10px;
}

figure .text ul li a {
  color: #4e3629;
  font: normal 13px 'YClover-Bold';
}
/* FOOTER */
footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font: 12px/1 'arial';
  color: #888;
  letter-spacing: 2px;
  padding: 5vh 5vw;
  z-index: 2;
}

#snb {
  display: none;
}

/* MOBILE */
@media screen and (max-width: 968px) {
  header #gnb {
    display: none;
  }
  header #sns {
    display: none;
  }
  header .btn_menu {
    display: block;
  }
  figure .text p {
    font-size: 12vw;
  }

  #snb {
    display: block;
  }

  header #snb .sub_menu {
    position: absolute;
    padding: 10px 25px;
    background-color: #4e3629;
    border: 1px solid #999;
    border-radius: 10px;
    right: 5vw;
    text-align: right;
    visibility: visible;
    opacity: 1;
    transition-duration: 0.4s;
  }
  header #snb .sub_menu.hide {
    visibility: hidden;
    opacity: 0;
  }
  header #snb .sub_menu li a {
    padding: 10px 0px;
    font: normal 16px/1 'YClover-bold';
    color: #e9d5e8;
  }

  header #snb .sub_menu li a i {
    margin-left: 8px;
  }
}
